# General
.DS_Store
.AppleDouble
.LSOverride

# env files
.env*

# python venv
venv/

# python cache files
__pycache__/
*.pyc
cache/

# uploaded files
uploaded_files/

# temp files
static/
exports/

# logs
pandasai.log